
  <select id="countryDropdown">
    <option value="">Виберіть країну</option>
    <option value="US">United State</option>
    <option value="CA">Canada</option>
    <option value="BR">Brazil</option>
    <option value="FR">France</option>
  </select>
      <div id="results">
    
      </div>
     
 
<select id="countryDropdown">
  <option value="">Виберіть країну</option>
  <option value="US">Сполучені Штати</option>
  <option value="CA">Канада</option>
 
</select>
    <div id="results">
  
    </div>