<div class="backdrop is-hidden">
    <div class="modal">
        <button class="close" data-action="close-modal"><img alt="" src="./img/modal/close (1).png"></button>
        <div class="ima"><img></div>
        <ul class="ul-main">
            <li><div><img></div></li>
        <li>
            <h2 class="h2-info">INFO</h2><p class="p-info">Atlas Weekend is the largest music festival</p><p class="p-info">in Ukraine.More than 200 artists will create</p><p class="p-info">a proper music festival atmosphere on 10 stages</p>
            <h2 class="h2-info">WHEN</h2><p class="p-info">2021-06-09</p><p class="p-info">20:00 (Kyiv/Ukraine)</p>
            <h2 class="h2-info">WHERE</h2><p class="p-info">Kyiv, Ukraine</p><p class="p-info">VDHN</p>
            <h2 class="h2-info">WHO</h2><p class="p-info">The Black Eyed Peas</p>
            <h2 class="h2-info">PRICES</h2><img src="./img/modal/ticket2.png" alt=""><p class="p-info">Standart 300-500 UAH</p>
            <div class="d-ul"><button class="button-ul">BUY TICKETS</button></div>
            <img src="./img/modal/ticket2.png" alt=""><p class="p-info">Standart 1000-1500 UAH</p>
            <div class="d-ul"><button class="button-ul">BUY TICKETS</button></div>
        </li>
        </ul>
        <div class="button-end"><button class="button-e">MORE FROM THIS AUTHOR</button></div>
        </div>
    </div>