input[type="checkbox"] {
    display: none;
}

label.toggle-label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked + label.toggle-label {
    background-color: #007bff;
}

label.toggle-label::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.4s;
}

input[type="checkbox"]:checked + label.toggle-label::before {
    transform: translateX(20px);
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('/src/img/change-theme/light_mode.svg');
}
