.footer__text {
    color: #939393;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 15px;
}

.footer__icon {
    color: red;
}