.ima{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.ul-main{
    display: flex;
    justify-content: space-evenly;
    list-style: none; 
    padding-bottom: 43px;
    padding-top: 36px;
}
.button-end{
    display: flex;
    justify-content: center;
}
button.close { 
    padding: 0; 
    visibility: hidden; 
    margin: 0; 
    padding-left: 875px; 
} 
button.close img { 
    visibility: visible;
    display: block;
}
.button-e{
    color: rgba(76, 0, 254, 1); 
    border-color: rgba(220, 86, 197, 1); 
    width: 255px;
    height: 40px;
    top: 896px;
    left: 256px;
    border-radius: 5px;
}
.modal{
    background: rgba(255, 242, 253, 1);
    width: 942px;
    height: 1023px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    background-color: var(--background-color);
    border-radius: 4px;
}
.h2-info{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(220, 86, 197, 1);
}
.p-info{font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: rgba(14, 14, 14, 1);
    margin: 0;
}
.button-ul{
    width: 145px;
    height: 40px;
    flex-shrink: 0;
    background-color: rgba(76, 0, 254, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
@media (max-width:320px){
    .ul-main li:first-child{
        display: none;
    }
    .modal{
        width: 272px;
        height: 915px;
    }
    button.close{
        padding-left: 230px;
    }
    .ima{
        padding-top: 20px;
    }
    .d-ul{
        display: flex;
        justify-content: center;
    }
    .p-info{
        display: flex;
        justify-content: center;
    } 
    .h2-info{
        display: flex;
        justify-content:center;
    }
    .button-end{
        display: flex;
        justify-content: center;
    } 
    .butt-d{
        display: flex;
        justify-content: center;
    }
}
@media (min-width:320px) and (max-width:768px){
    .ul-main{
        justify-content: initial;
    }
    .li{
        margin-right: 30px;
    }
    .modal{
        width: 595px;
        height: 831px;
    }
    .ima{
        padding: 0;
        padding-bottom: 36px;
    }
    .img2{
        width: 233px;
        height: 416px;
    }
    .ul-main{
        padding: 0;
        margin: 0;
    }
    .h2-info:not(:first-child){
        margin: 0;
        margin-top: 20px;
    }
    .h2-info:first-child{
        margin: 0;
    }
    button.close{
        padding-left: 553px;
    }
}