.pagination {
	justify-content: center;
}

.btn-pagination {
	display: inline-block;
	letter-spacing: .5px;
	text-align: center;
	padding: 5px 10px;
	color: rgb(255, 255, 255);
	border-radius: none;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 16px;
	border: none;
	outline: none;
	background-color: black;
}

.btn-pagination.active {
	border: 1px solid #DC56C5;
	color: #DC56C5;
	border-radius: 10px 0px;
}

.btn-pagination:hover {
	color: #DC56C5;
}

@media screen and (max-width: 320px) {
	.btn-pagination {
		font-size: 14px;
		padding: 5px 8px;
	}
}